<html lang="AR">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Type" content="text/css; charset=utf-8" />
  <style>
    @font-face {
      font-family: myFirstFont;
      /* src: url(file:\\\P:\\DekanehAPI\\Cairo-Regular.ttf); */
      src: url(file:\\\root\\DekanehAPI\\Cairo-Regular.ttf);

    }

    html {
      font-family: myFirstFont;
      /*      padding-right: 217px;*/
    }

    body {
      /* padding: 10px 5px; */
      margin: 0px;
      width: 6.17in
    }

    .header {
      height: 100px;
    }

    .header .firstDiv {
      width: calc(37% - 20px);
      height: 100%;

      font-size: 15px;
      padding-top: 30px;
      float: left;
      text-align: right;
      padding-right: 20px;
    }

    .header .firstDiv h3 {
      font-size: 15px;
    }


    .header .secondeDiv {
      width: 26%;
      height: 100%;
      float: left;
      text-align: center;
    }

    .header .secondeDiv img {
      padding-top: 20px;
      width: 95%;
    }

    .header .thierdDiv {
      width: 37%;
      font-size: 14px;
      text-align: right;
      float: left;
      padding-top: 30px;
      height: 100%;
    }

    .header .thierdDiv h2 {
      width: 100%;
      font-size: 17px;
      text-align: right;
    }

    .secHeader {
      height: 75px;
      font-size: 13px;
      width: 100%;
    }

    .secHeader .phone {
      width: 30%;
      float: left;
      height: 100%;
      text-align: right;
    }

    .secHeader .name {
      width: 70%;
      float: left;
      height: 100%;
      text-align: right;
    }

    table {
      width: 512px;
    }

    table td,
    table th {
      border: 1px solid #8c8a8a;
      text-align: right;
      padding: 2px;
      font-size: 10px;
    }


    table tr:nth-child(even) {
      background-color: #c9c9c9;
    }

    .footer {
      height: 55px;
      /* padding-top: 30px; */
      width: 512px
    }

    .footerMargin {
      margin-top: <%=paddingFooter %>;
    }

    .footer .typeUser {
      height: 100%;
      width: 30%;
      padding-top: 30px;
      font-size: 12px;
      text-align: center;
      float: left;
    }

    .footer .total {
      float: left;
      width: 70%;
    }

    .footer .total .row {
      height: 100%;
      width: 100%;
    }

    .footer .total .row .halfrow {
      width: 50%;
      float: left;
      height: 100%;
      text-align: center;
      line-height: 25px;
      border-radius: 5px;
    }

    .footer .total .row .halfrow h3 {
      margin: 0px;
      font-size: 15px;
      text-align: right;
    }

    .footer .total .row .halfrow b {
      font-size: 30px;
    }


    .footer .total .secRow {
      height: 50%;
      width: 100%;
    }


    hr {
      border: 0;
      height: 0;
      width: 100%;
      box-shadow: 0 0 10px 1px black;
    }

    .secFooter {
      height: 55px;
      width: 512px;
      padding-top: 10px;
    }

    .secFooter .text {
      width: 65%;
      height: 100%;
      position: relative;
      float: left;
      text-align: right;
      padding-top: 5px;
    }

    .secFooter .text b {
      position: absolute;
      bottom: 10px;
      width: 100%;
      right: 0;
    }

    .secFooter .halfRow {
      width: 35%;
      float: left;
      height: 100%;
      border-radius: 5px;
      text-align: center;
      line-height: 25px;

    }

    .secFooter .halfRow h3 {
      margin: 0px;
      font-size: 15px;
      text-align: right;
    }

    .secFooter .halfRow b {
      font-size: 30px;
    }

  </style>
</head>

<body>
  <div class="main" style="width: calc(100% - 80px);margin: 0px 40px;">
    <div class="header">
      <div class="firstDiv">

        <h3 style="margin-bottom: 0px;float: right;"> : الرقم
        </h3>
        <h3 style="margin-bottom: 0px;">
          <%= code %>

        </h3>
        <h3 style="margin-top: 0px;">التاريخ :
          <%= date %>
        </h3>
      </div>
      <!-- <div class="secondeDiv"> <img src="file:\\\P:\\DekanehAPI\\logo.png"> </div> -->
      <div class="secondeDiv"> <img src="file:\\\root\\DekanehAPI\\logo.png"> </div>

      <div class="thierdDiv">
        <h2 style="margin-bottom: 0px;">سجل تجاري رقم : ٩٠٦٢٨</h2>
        <h4 style="margin: 0;">دمشق - عدوي هاتف ٠٩٤٧٣٣١٠٢٠</h4>
      </div>
    </div>

    <div class="secHeader">
      <div class="phone">
        <span>هاتف :</span>
        <b>
          <%= phoneNumber %></b>
      </div>
      <div class="name" style="direction: rtl;">
        <span>السادة :</span>
        <b>
          <%= ownerName %></b>
      </div>
    </div>

    <div class="table">
      <table>
        <tr>
          <th>إجمالي البند</th>
          <th>سعر افرادي</th>
          <th>الكمية</th>
          <th>المادة</th>
          <th>سعر المستهلك</th>
          <th>م</th>
        </tr>
        <% for(var i=0; i < firstMainProduct.length; i++) { %>

        <tr>
          <td>
            <%= firstMainProduct[i].price*firstMainProduct[i].count %>

          </td>
          <td>
            <%= firstMainProduct[i].price %>

          </td>
          <td>
            <%= firstMainProduct[i].count %>

          </td>
          <td>
            <%= firstMainProduct[i].nameAr %>
          </td>
          <td>
            <%= firstMainProduct[i].marketOfficialPrice %>
          </td>
          <td>
            <%= firstMainProduct[i].index %>
          </td>
        </tr>
        <% } %>

      </table>

    </div>
    <% if(secondeMainProduct.length != 0){ %>

    <div class="table" style="padding-top: 20px">
      <table>
        <tr>
          <th>إجمالي البند</th>
          <th>سعر افرادي</th>
          <th>الكمية</th>
          <th>المادة</th>
          <th>سعر المستهلك</th>
          <th>م</th>
        </tr>
        <% for(var i=0; i < secondeMainProduct.length; i++) { %>

        <tr>
          <td>
            <%= secondeMainProduct[i].price*secondeMainProduct[i].count %>

          </td>
          <td>
            <%= secondeMainProduct[i].price %>

          </td>
          <td>
            <%= secondeMainProduct[i].count %>

          </td>
          <td>
            <%= secondeMainProduct[i].nameAr %>
          </td>
          <td>
            <%= secondeMainProduct[i].marketOfficialPrice %>
          </td>
          <td>
            <%= secondeMainProduct[i].index %>
          </td>
        </tr>
        <% } %>

      </table>

    </div>
    <% } else{ %>
    <% } %>
    <div style="width: 100%;background-color: red" class="footerMargin">

      <div class="table" style="height: 60px;padding: 0px 40px">
        <table style="width: 70%;float: right;">
          <tr>
            <td style="border: 0px;width: 50%;">
              <h3 style="margin: 0px;font-size: 15px">الحسم </h3>
              <h1 style="width: 100%;text-align: right;margin: 0px;font-size: 3em;">
                <%= discount %>
              </h1>

            </td>
            <td style="border: 0px;width: 50%;">
              <h3 style="margin: 0px;font-size: 15px">الإجمالي </h3>
              <h1 style="width: 100%;text-align: right;margin: 0px;font-size: 3em;">
                <%= priceBeforeCoupon %>
              </h1>

            </td>
          </tr>
        </table>
        <table style="width: 30%;position: relative;">
          <tr>
            <td style="border: 0px">
              <span style="position: absolute;left: 0px;top: 20px;">
                <%= userType %></span>
            </td>
          </tr>
        </table>
      </div>

      <div class="table">
        <table style="width: 100%">
          <tr>
            <div style="background-color: black;width: 100%;margin-top: 40px;height: 2px;"></div>

          </tr>
        </table>
      </div>

      <div class="table" style="padding: 0px 40px">
        <table style="width: 35%;
          float: right;">
          <tr>
            <td style="border: 0px;">
              <h3 style="margin: 0px;font-size: 15px">الإجمالي </h3>
              <h1 style="width: 100%;text-align: right;margin: 0px;font-size: 3em;">
                <%= totalPrice %>
              </h1>


            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>
